.sh1 {
    color: #0b5127;
}

.card {
    background-color: rgba(224, 228, 229, 0.83)
}

.card:hover .sh1 {

    color: #f5f6f5;
    text-shadow: 0.4em -0.1em #85f8bb85
}


.box:hover {
    --border-size: 3px;
    --border-angle: 0turn;
    /* width: 60vmin; */
    /* height: 50vmin; */
    background-image: conic-gradient(from var(--border-angle), rgb(17, 51, 41), rgb(19, 34, 17) 50%, rgb(34, 51, 17)), conic-gradient(from var(--border-angle), transparent 20%,#85f8bbe6, rgb(140, 255, 0));
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-animation: bg-spin 3s linear infinite;
            animation: bg-spin 3s linear infinite;
  }
  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  .box {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }