/* 圖片下載 */
.downloadpic {
    width: 30%;
    margin: 1em;

}

.downloadpic:hover {
    transform: scale(1.2);
    transition: all.3s linear;
    border: 3px solid #18d26e;
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}


.container1 {
    display: flex;
    width: 85vw;
}

.panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: all 700ms ease-in;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.container1 a:hover {
    /* background-color: #fff; */
    text-shadow: hoff voff 0.2 #000;
    color: #18d26e;
}

@media (max-width: 480px) {

   

    .container1 {
        width: 100vw;
    
        /* display: none; */
    }

    .downloadpic {
        width: 50vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }
    .panel{
    height: 35vh;

    }

}

.acolor {
    color: #195ca0;
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
}

/* 主題曲 */
.song1::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.song1 {
    font-size: 20px;
    font-weight: 500;
    padding: 0;
    margin: 20px 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa
}

.qqq {
    position: relative;

    margin: 30px;
    border: 3px solid #4ceb95;
    border-radius: 8px;
}

.qqq:hover {
    background: rgba(169, 226, 152, 0.359);

}

.qqq::before {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 30px;
    width: calc(100% - 60px);
    content: "";
    border-top: 3px solid #efc83d;
    border-bottom: 3px solid #efc83d;
    z-index: 0;
}

.qqq::after {
    position: absolute;
    top: 30px;
    right: -5px;
    left: -5px;
    height: calc(100% - 60px);
    content: "";
    border-right: 3px solid #efc83d;
    border-left: 3px solid #efc83d;
    z-index: 1;
}




iframe {
    z-index: 300;
    position: relative;
}

@media (max-width:800px) {
    .qqq {
        flex-wrap: wrap
    }

    iframe {
        margin-left: 15%;
    }
}

@media (max-width:450px) {

    iframe {
        margin-left: 0;
        width: 90%;
    }
}


.songul {
    float: left;
    /* width: 30px; */
    position: fixed;
    list-style: none;
    top: 35%;
    left: 30px;
    color: rgb(239, 237, 237);
    background-color: rgba(233, 239, 231, 0.255);
    font-size: 20px;
    border: 1px #18d26e solid;
    padding: 0;
    border-radius: 10%;
    box-shadow: 2px 0px 10px 3px #c0ffcaa8;
}

.songul a {
    text-decoration: none;
    /* border: 2px red solid; */

    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    text-align: center;
    margin: 10px;

}

.songul a:hover {
    color: #efc83d;
    font-weight: bold;
}

/* !號 */
.songdia {
    width: 80vw;
    background-color: #000;
    border: 1px solid #18d26e;
    box-shadow: 3px 3px 25px #4ceb95;
}

.songbtn {
    border: 1px solid #18d26e;
    box-shadow: 3px 3px 25px #4ceb95;
    color: #74b074;
    background-color: #000;
}

.songx {
    color: #fff;
    font-size: 18px;
    margin: 20px;
}